<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:fragment="layout(content)" >


<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
<section>
<div class="login">
<div id="login-row" class="row justify-content-center align-items-center">
<div id="login-column"class="col-md-6" style="height:220px;">
<div id="login-box" class="col-md-12">

<h3 class=mt-4>Enter new password</h3>



<form method="post" th:action="@{/change-password}">
<div class="form-group">
<input name="newpassword" type="password" class="form-control" placeholder="Enter new password" required />
</div>
<div class="container">
<button class="btn btn-warning">Change Password </button>
</div>
</form>
</div>
</div>

</div>
</div>
</section>
</body>
</html>